body{
	min-height: 100vh;
	background-color: #dccccc;
}

.navbar{
	background-color: rgba(109, 0, 20, 0.94);
	margin-bottom: 0;
	border-bottom: 1px solid #5f0c0c;
}

.container-fluid-no-padding{
	padding: 0;
}

#sidebar{
	background-color: rgba(109, 0, 20, 0.94);
	padding-right: 0;
	padding-top: 0;
	margin-top: 0;
}

#content{
	background-color: white;
}


.full-height{
	min-height: 100vh;
}

li{
	border-bottom: 1px solid #880019;
}

li:last-child{
	border-bottom: none;
}

a{
	color: #ab3f7b;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav-pills>li>a {
    border-radius: 0;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #af2f2f;
	color: white;
}

#profile-name{
	color: #061306;
	letter-spacing: 2px;
	font-weight: bold;
}

.dropdown-toggle{
	text-align: right;
	font-size: 24px;
}

.dropdown-menu{
	width: 200px;
	text-align: right;
	border: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
	color: white;
}

.set{
	color: white;
}
.margin-top-bottom{
	margin-top: 20px;
	margin-bottom: 25px;
}

.button-no-radius{
	border-radius: 0;
}

#products{
	letter-spacing: 1.5px;
}
b{
	color: #5e755e;
}




