
.navbar{
	background-color: #c32e2e;
	margin-bottom: 0;
	border-bottom: 1px solid #5f0c0c;
}

.container-fluid{
	padding: 0;
	min-height: 100%;
}

#sidebar{
	background-color: rgba(109, 0, 20, 0.94);
	padding-right: 0;
	padding-top: 0;
	margin-top: 0;
	min-height: 100vh;
}

li{
	border-bottom: 1px solid #880019;
}

li:last-child{
	border-bottom: none;
}

a{
	color: #ab3f7b;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav-pills>li>a {
    border-radius: 0;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #af2f2f;
	color: white;
}


